.tabs {
	// .tabs__navigation
	&__navigation {
		@media (min-width: $tablet) {
			display: grid;
			grid-template-columns: repeat(5, minmax(toRem(121), toRem(239)));
			justify-content: center;
			@include adaptiveValue('column-gap', 75, 30, 0, 1440, 991);
		}
		@media (max-width: $tablet) {
			display: flex;
			@include adaptiveValue('column-gap', 30, 15, 0, 991, 768);
		}

		@media (max-width: $tablet) {
			// overflow: scroll;
			overflow-x: scroll;
		}
	}
	// .tabs__title
	&__title {
		// border: 1px solid #eee;
		// padding: toRem(10) toRem(15);
		// border-radius: toRem(5);
		text-align: center;
		font-style: normal;
		font-weight: 400;
		line-height: 1.6;
		@include adaptiveValue('font-size', 18, 14, 0, 1440, 768);
		&._tab-active {
			// border: 1px solid #000;
			color: #de5e2c;
		}
	}
	// .tabs__content
	&__content {
		// border: 1px solid #eee;
		// padding: toRem(10) toRem(15);
	}
	// .tabs__body
	&__body {
	}
}
