.all-services {
	@include adaptiveValue('padding-top', 159, 80);
	@include adaptiveValue('padding-bottom', 120, 80);
	&__container {
	}
	&__title {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 63.5, 40);
		}
	}
	&__tabs {
	}
	&__tabs-navigation {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 63.5, 40);
		}
		@media (min-width: $tablet) {
			display: grid;
			@media (min-width: $tablet) {
				grid-template-columns:
					minmax(toRem(79), toRem(121)) minmax(toRem(150), toRem(197)) minmax(toRem(140), toRem(179))
					minmax(toRem(180), toRem(239)) minmax(toRem(100), toRem(131));
			}

			justify-content: center;
			@include adaptiveValue('column-gap', 75, 30, 0, 1440, 991);
		}
		@media (max-width: $tablet) {
			display: flex;
			@include adaptiveValue('column-gap', 30, 15, 0, 991, 768);
			overflow-x: auto;
			white-space: nowrap;

			height: toRem(50);
		}
	}
	&__tabs-title {
		@media (min-width: $mobile) {
			text-align: center;
		}
		font-style: normal;
		font-weight: 400;
		line-height: 1.6;
		@include adaptiveValue('font-size', 18, 16, 0, 1440, 768);
		&._tab-active {
			color: #de5e2c;
		}
	}
}
.tabs {
	&__navigation {
	}
	&__title {
	}
	&__content {
	}
	&__body {
	}
}
.tabs-body-hotel-complexes {
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include adaptiveValue('column-gap', 30, 15, 0, 768, 479);
		@include adaptiveValue('row-gap', 56, 15, 0, 1440, 479);
		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__item {
		display: flex;
		@media (max-width: $mobile) {
			&:nth-child(2) {
				order: -1;
				grid-column: span 2;
			}
		}
		&:nth-child(4) {
			@media (min-width: $mobile) {
				grid-column: span 2;
			}
		}
		&:nth-child(5) {
			grid-column: span 1;
		}
		/* Третій ряд: перший item 1 колонка, другий item розтягується на 2 колонки */
		&:nth-child(6) {
			grid-column: span 1;
		}
		&:nth-child(7) {
			@media (min-width: $mobile) {
				grid-column: span 2;
			}
		}
	}
}
.body-cottage-towns {
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include adaptiveValue('column-gap', 30, 15, 0, 768, 479);
		@include adaptiveValue('row-gap', 56, 15, 0, 1440, 479);
		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__item {
		display: flex;
		@media (max-width: $mobile) {
			&:nth-child(4) {
				order: -1;
				grid-column: span 2;
			}
		}
		&:nth-child(1) {
			@media (min-width: $mobile) {
				grid-column: span 2;
			}
		}
		&:nth-child(5) {
			grid-column: span 1;
		}
		/* Третій ряд: перший item 1 колонка, другий item розтягується на 2 колонки */
		&:nth-child(6) {
			grid-column: span 1;
		}
		&:nth-child(7) {
			@media (min-width: $mobile) {
				grid-column: span 2;
			}
		}
	}
}
.tabs-body-food-establish {
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include adaptiveValue('column-gap', 30, 15, 0, 768, 479);
		@include adaptiveValue('row-gap', 56, 15, 0, 1440, 479);
		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__item {
		display: flex;
		@media (max-width: $mobile) {
			&:nth-child(4) {
				order: -1;
				grid-column: span 2;
			}
		}
		&:nth-child(2) {
			@media (min-width: $mobile) {
				grid-column: span 2;
			}
		}
		&:nth-child(5) {
			grid-column: span 1;
		}
		/* Третій ряд: перший item 1 колонка, другий item розтягується на 2 колонки */
		&:nth-child(6) {
			@media (min-width: $mobile) {
				grid-column: span 2;
			}
		}
		&:nth-child(7) {
			grid-column: span 1;
		}
	}
}
.tabs-body--investors {
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include adaptiveValue('column-gap', 30, 15, 0, 768, 479);
		@include adaptiveValue('row-gap', 56, 15, 0, 1440, 479);
		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__item {
		display: flex;
		@media (max-width: $tablet) {
			&:nth-child(4) {
				order: -1;
				grid-column: span 2;
			}
		}
		&:nth-child(2) {
			@media (min-width: $tablet) {
				grid-column: span 2;
			}
		}
		&:nth-child(5) {
			grid-column: span 1;
		}
		/* Третій ряд: перший item 1 колонка, другий item розтягується на 2 колонки */
		&:nth-child(6) {
			@media (min-width: $tablet) {
				grid-column: span 2;
			}
		}
		&:nth-child(7) {
			grid-column: span 1;
		}
	}
}
.cards-services {
	display: flex;
	flex-direction: column;
	& > :nth-child(even) {
		flex-direction: row-reverse;
	}
	@media (max-width: $mobile) {
		// @include adaptiveValue('row-gap', 30, 20, 0, 767, 479);
		row-gap: toRem(30);
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@media (max-width: $mobile) {
			@include adaptiveValue('row-gap', 20, 10, 0, 767, 479);
		}
	}
	&__item {
		display: flex;
		width: calc(33.33% - toRem(20)); /* Враховуємо відступ між стовпцями */
		@media (max-width: $tablet) {
			width: calc(33.33% - toRem(10));
		}
		@media (min-width: $mobile) {
			@include adaptiveValue('margin-bottom', 56, 20, 0, 1440, 991);
		}

		@media (max-width: $mobile) {
			// margin-bottom: toRem(20);

			width: calc(50% - toRem(10));
			& > :nth-child(3n + 1) {
				width: 100%;
			}
		}
		@media (max-width: $mobileSmall) {
			width: calc(50% - toRem(5));
		}
		// @media (max-width: em(375)) {
		// 	width: 100%;
		// }
		@media (max-width: $mobile) {
			&:nth-child(3n + 1) {
				width: 100%;
			}
		}
	}
	&__card {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		border: toRem(1) solid #eaedef;
		flex-grow: 1;
		& > :nth-child(3) {
			@include adaptiveValue('padding-top', 64, 10, 0, 1440, 991);
		}
	}

	&__title {
		@include adaptiveValue('font-size', 18, 16, 0, 1440, 991);

		font-weight: 700;
		line-height: 1.5;
		text-transform: uppercase;
		max-width: toRem(295);
		@include adaptiveValue('padding-top', 41, 20, 0, 1440, 991);
		@include adaptiveValue('margin-left', 24, 10, 0, 1440, 991);
		@include adaptiveValue('padding-bottom', 31, 10, 0, 1440, 991);
	}
	&__description {
		@include adaptiveValue('padding-right', 24, 10, 0, 1440, 991);
		@include adaptiveValue('padding-left', 24, 10, 0, 1440, 991);

		@include adaptiveValue('font-size', 18, 16, 0, 1440, 991);
		margin-bottom: toRem(24);
		line-height: 1.6;
		@media (max-width: $tablet) {
			line-height: 1.4;
		}
	}
	&__line {
		width: 100%;
		height: toRem(0.5);
		background-color: #eaedef;
	}

	&__button {
		margin-bottom: toRem(24);
		@include adaptiveValue('margin-left', 24, 10);
		@media (any-hover: hover) {
			transition: all 0.3s;
			&:hover {
				transform: translateX(5%);
			}
		}
	}
	&__image {
		display: flex;
		flex-grow: 1;
		overflow: hidden;
	}
	&__wrapper {
		flex-grow: 1;
		// max-width: toRem(450);
		max-height: toRem(618);

		position: relative;
		transition: all 1s;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.2);
			}
		}
		&::before {
			content: '';
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
		&--bg-20 {
			&::before {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
			}
		}
		&--bg-30 {
			&::before {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
			}
		}
		&--bg-40 {
			&::before {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
			}
		}
		&__ibg {
		}
	}
}
