// Заголовки, загальні БЕМ блоки та інше...
// !
.social-media {
	&__link {
		svg {
			fill: #eaedef;
			width: toRem(32);
			height: toRem(32);
			border: toRem(1) solid #eaedef;
			border-radius: 50%;
			transition: all 0.3s;
			@media (max-width: $mobile) {
				width: toRem(45);
				height: toRem(45);
			}
			@media (any-hover: hover) {
				&:hover {
					fill: #ff4800;
					border: toRem(1) solid #ff4800;
				}
			}
		}
	}
}
.title {
	@include adaptiveValue('font-size', 48, 36);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.text-blob {
	@include adaptiveValue('font-size', 120, 32);
	font-family: 'Geometria';
	font-weight: 700;
}
