//====================================================================================================
// ! MAIN_PAGE
.main-page {
	background:
		linear-gradient(0deg, rgba(28, 28, 28, 0.4) 0%, rgba(28, 28, 28, 0.4) 100%),
		url('@img/main/background.jpg') 0 0 / cover no-repeat;
	// background:
	// 	linear-gradient(0deg, rgba(28, 28, 28, 0.4) 0%, rgba(28, 28, 28, 0.4) 100%),
	// 	url('@img/main/background.jpg'),
	// 	50% / cover no-repeat;
	&__container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (min-width: $tablet) {
			height: 89vh;
		}
	}

	&__headline {
		padding-top: toRem(200);
		padding-bottom: toRem(100);
		@media (max-width: $mobile) {
			padding-top: toRem(150);
		}
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: toRem(24);
	}

	&__title {
	}

	&__image {
		aspect-ratio: 281 / 77;
		max-width: toRem(562);
	}

	&__sub-title {
		font-size: toRem(18);
		line-height: 1.6;
		max-width: toRem(400);
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 24, 12, 0, 991, 479);
		}
	}

	&__button {
		@media (min-width: $mobile) {
			min-width: toRem(362);
		}
		svg {
			transition: all 0.3s;
			width: toRem(30);
			height: toRem(30);
			fill: #eaedef;
			stroke-width: 1px;
		}
		@media (max-width: $mobile) {
			width: 100%;
		}
		&:not(:last-child) {
			margin-bottom: toRem(32);
		}
	}

	&__social-media {
		display: flex;
		@media (min-width: $tablet) {
			flex-direction: column;
		}
		gap: toRem(16);
		position: absolute;

		@media (min-width: $tablet) {
			right: percent(139, $maxWidthContainer);
		}
		@media (max-width: $tablet) {
			position: relative;
		}
	}
}
.social-media {
	&__link {
	}
}

//====================================================================================================
// ! ABOUT_US

.about-us {
	@include adaptiveValue('padding-top', 120, 80);
	@include adaptiveValue('padding-bottom', 120, 80);
	&__container {
		@include adaptiveValue('padding-top', 120, 80);
		@include adaptiveValue('padding-bottom', 120, 80);
	}

	&__body {
		display: flex;
		@media (min-width: $pc) {
			justify-content: space-around;
		}
		justify-content: space-between;
		gap: toRem(26);
		@media (max-width: $tablet) {
			flex-direction: column;
		}
		@media (max-width: $mobileSmall) {
			row-gap: toRem(50);
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		row-gap: toRem(24);
		flex: 0 1 percent(447, $maxWidthContainer);
	}

	&__title {
		color: #eaedef;
		@include adaptiveValue('font-size', 48, 36);
		font-weight: 700;
	}

	&__description {
		color: #eaedef;
		@include adaptiveValue('font-size', 18, 16, 0, 768, 479);
		line-height: 1.6; /* 28.8px */
		&:not(:last-child) {
			margin-bottom: toRem(12);
		}
	}

	&__counters {
	}
	&__images {
		flex: 0 1 percent(716, $maxWidthContainer);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: toRem(30);

		@media (max-width: $mobileSmall) {
			gap: toRem(15);
		}
	}
	&__image-ibg {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
		// &:nth-child(1) img {
		// 	/* Стилі для першого зображення */
		// 	aspect-ratio: 183 / 650;
		// }
		// &:nth-child(2) img {
		// 	/* Стилі для першого зображення */
		// 	aspect-ratio: 183 / 650;
		// }
		// &:nth-child(3) img {
		// 	/* Стилі для першого зображення */
		// 	aspect-ratio: 183 / 650;
		// }
		// &:nth-child(4) img {
		// 	/* Стилі для першого зображення */
		// 	aspect-ratio: 183 / 650;
		// }
		&:nth-child(1) {
			justify-self: end;
			max-width: toRem(210);
			max-height: toRem(243);
			&::before {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
			}
			@media (max-width: $mobileSmall) {
				order: 1;
			}
		}
		&:nth-child(2) {
			align-self: end;
			max-width: toRem(331);
			max-height: toRem(200);
			// aspect-ratio: 331 / 200;
			&::before {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
			}
		}
		&:nth-child(3) {
			justify-self: end;
			max-width: toRem(331);
			max-height: toRem(200);
			// aspect-ratio: 331 / 200;
			@media (max-width: $mobileSmall) {
				order: -1;
			}

			&::before {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
			}
		}
		&:nth-child(4) {
			@media (min-width: $tablet) {
				margin-left: toRem(12);
			}
			max-width: toRem(210);
			max-height: toRem(247);
			// aspect-ratio: 210 / 247;
			&::before {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
			}
		}
	}
}
.counters-about-us {
	display: flex;
	@include adaptiveValue('column-gap', 56, 10, 0, 1440, 991);
	&__item {
		display: flex;
		flex-direction: column;
		max-width: toRem(122);
		row-gap: toRem(10);
	}

	&__value {
		color: #de5e2c;
		@include adaptiveValue('font-size', 48, 36);
		font-weight: 700;
		&::after {
			content: '+';
			margin-left: toRem(1);
		}
	}
	&__text {
		@include adaptiveValue('font-size', 18, 16, 0, 768, 479);
		line-height: 1.6;
	}
}
.counters {
	&__item {
	}
}
.some-block {
	&__image {
	}
}

//====================================================================================================
//====================================================================================================
//====================================================================================================
// ! PROS
.pros {
	@include adaptiveValue('padding-top', 120, 80);
	@include adaptiveValue('padding-bottom', 120, 80);
	background: #17302f;
	&__container {
	}
	&__items {
		// @include adaptiveValue('padding-right', 120, 0, 0, 1440, 991);
		// @include adaptiveValue('padding-left', 120, 0, 0, 1440, 991);
		display: grid;
		justify-content: center;
		@media (min-width: $mobileSmall) {
			grid-template-columns: repeat(2, 1fr);
			@include adaptiveValue('column-gap', 40, 20);
		}
		row-gap: toRem(40);
		@media (min-width: $tablet) {
			grid-template-columns: repeat(4, minmax(toRem(150), toRem(250)));
			@include adaptiveValue('column-gap', 110, 30, 0, 1440, 991);
		}

		justify-items: center;
		// justify-content: space-between;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: toRem(16);
	}
	&__image {
		// aspect-ratio: 136/101;
	}
	&__description {
		text-align: center;
		@include adaptiveValue('font-size', 18, 16, 0, 1440, 991);
		line-height: 1.6;
	}
	&__image-ibg {
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: center;
		// flex-grow: 1;
		// width: toRem(150);
		height: toRem(150);
		img {
			max-width: 150%;
			max-height: toRem(150);
		}
	}
}

//====================================================================================================

//====================================================================================================
//====================================================================================================

//====================================================================================================
//====================================================================================================

//====================================================================================================
