//====================================================================================================
// ! MAIN_PAGE
.main-page {
	background:
		linear-gradient(0deg, rgba(28, 28, 28, 0.4) 0%, rgba(28, 28, 28, 0.4) 100%),
		url('@img/main/background.jpg') 0 0 / cover no-repeat;
	// background:
	// 	linear-gradient(0deg, rgba(28, 28, 28, 0.4) 0%, rgba(28, 28, 28, 0.4) 100%),
	// 	url('@img/main/background.jpg'),
	// 	50% / cover no-repeat;
	&__container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (min-width: $tablet) {
			height: 89vh;
		}
	}

	&__headline {
		padding-top: toRem(200);
		padding-bottom: toRem(100);
		@media (max-width: $mobile) {
			padding-top: toRem(150);
		}
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: toRem(24);
	}

	&__title {
	}

	&__image {
		aspect-ratio: 281 / 77;
		max-width: toRem(562);
	}

	&__sub-title {
		font-size: toRem(18);
		line-height: 1.6;
		max-width: toRem(400);
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 24, 12, 0, 991, 479);
		}
	}

	&__button {
		@media (min-width: $mobile) {
			min-width: toRem(362);
		}

		@media (max-width: $mobile) {
			width: 100%;
		}
		&:not(:last-child) {
			margin-bottom: toRem(32);
		}
	}

	&__social-media {
		display: flex;
		@media (min-width: $tablet) {
			flex-direction: column;
		}
		gap: toRem(16);
		position: absolute;

		@media (min-width: $tablet) {
			right: percent(139, $maxWidthContainer);
		}
		@media (max-width: $tablet) {
			position: relative;
		}
	}
}
.social-media {
	&__link {
	}
}

//====================================================================================================
// ! ABOUT_US

.about-us {
	@include adaptiveValue('padding-top', 120, 80);
	@include adaptiveValue('padding-bottom', 120, 80);
	&__container {
		// @include adaptiveValue('padding-top', 120, 80);
		// @include adaptiveValue('padding-bottom', 120, 80);
	}

	&__body {
		// display: flex;
		// @media (min-width: $pc) {
		// 	justify-content: space-evenly;
		// }
		justify-content: center;
		gap: toRem(26);
		// @media (max-width: $tablet) {
		// 	flex-direction: column;
		// }
		@media (max-width: $mobileSmall) {
			row-gap: toRem(50);
		}
		display: grid;
		@media (min-width: $tablet) {
			grid-template-columns: minmax(toRem(310), toRem(450)) minmax(toRem(388), toRem(694));
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		row-gap: toRem(24);
		flex: 0 1 percent(447, $maxWidthContainer);
	}

	&__title {
		color: #eaedef;
		@include adaptiveValue('font-size', 48, 36);
		font-weight: 700;
	}

	&__description {
		color: #eaedef;
		@include adaptiveValue('font-size', 18, 16, 0, 768, 479);
		line-height: 1.6; /* 28.8px */
		&:not(:last-child) {
			margin-bottom: toRem(12);
		}
	}

	&__counters {
	}
	&__images {
		flex: 0 1 percent(716, $maxWidthContainer);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: toRem(30);

		@media (max-width: $mobileSmall) {
			gap: toRem(15);
		}
	}
	&__image-ibg {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
		// &:nth-child(1) img {
		// 	/* Стилі для першого зображення */
		// 	aspect-ratio: 183 / 650;
		// }
		// &:nth-child(2) img {
		// 	/* Стилі для першого зображення */
		// 	aspect-ratio: 183 / 650;
		// }
		// &:nth-child(3) img {
		// 	/* Стилі для першого зображення */
		// 	aspect-ratio: 183 / 650;
		// }
		// &:nth-child(4) img {
		// 	/* Стилі для першого зображення */
		// 	aspect-ratio: 183 / 650;
		// }
		&:nth-child(1) {
			justify-self: end;
			max-width: toRem(210);
			max-height: toRem(243);
			&::before {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
			}
			@media (max-width: $mobileSmall) {
				order: 1;
			}
		}
		&:nth-child(2) {
			align-self: end;
			max-width: toRem(331);
			max-height: toRem(200);
			// aspect-ratio: 331 / 200;
			&::before {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
			}
		}
		&:nth-child(3) {
			justify-self: end;
			max-width: toRem(331);
			max-height: toRem(200);
			// aspect-ratio: 331 / 200;
			@media (max-width: $mobileSmall) {
				order: -1;
			}

			&::before {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
			}
		}
		&:nth-child(4) {
			@media (min-width: $tablet) {
				margin-left: toRem(12);
			}
			max-width: toRem(210);
			max-height: toRem(247);
			// aspect-ratio: 210 / 247;
			&::before {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
			}
		}
	}
}
.counters-about-us {
	display: flex;
	@include adaptiveValue('column-gap', 56, 20, 0, 479, 320);
	// column-gap: toRem(56);
	&__item {
		display: flex;
		flex-direction: column;
		max-width: toRem(122);
		row-gap: toRem(10);
	}

	&__value {
		color: #de5e2c;
		@include adaptiveValue('font-size', 48, 36);
		font-weight: 700;
		&::after {
			content: '+';
			margin-left: toRem(1);
		}
	}
	&__text {
		@include adaptiveValue('font-size', 18, 16, 0, 768, 479);
		line-height: 1.6;
	}
}
.counters {
	&__item {
	}
}
.some-block {
	&__image {
	}
}

//====================================================================================================
//====================================================================================================

//====================================================================================================
// ! PROS
.pros {
	@include adaptiveValue('padding-top', 120, 80);
	@include adaptiveValue('padding-bottom', 120, 80);
	background: #17302f;
	&__container {
	}
	&__items {
		// @include adaptiveValue('padding-right', 120, 0, 0, 1440, 991);
		// @include adaptiveValue('padding-left', 120, 0, 0, 1440, 991);
		display: grid;
		justify-content: center;
		@media (min-width: $mobileSmall) {
			grid-template-columns: repeat(2, 1fr);
			@include adaptiveValue('column-gap', 40, 20);
		}
		row-gap: toRem(40);
		@media (min-width: $tablet) {
			grid-template-columns: repeat(4, minmax(toRem(150), toRem(218)));
			@include adaptiveValue('column-gap', 110, 30, 0, 1440, 991);
		}

		justify-items: center;
		// justify-content: space-between;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: toRem(16);
	}
	&__image {
		// aspect-ratio: 136/101;
	}
	&__description {
		text-align: center;
		@include adaptiveValue('font-size', 18, 16, 0, 1440, 991);
		line-height: 1.6;
	}
	&__image-ibg {
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: center;
		// flex-grow: 1;
		// width: toRem(150);
		height: toRem(150);
		img {
			max-width: 150%;
			max-height: toRem(150);
		}
	}
}

//====================================================================================================
// ! SERVICES
.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px; /* простір між елементами, налаштуйте за потребою */
}

.grid-item {
	padding: 20px;
	border: 1px solid #ccc;
	text-align: center;
}

/* Зеркальне відображення для трьох останніх елементів */
.grid-item:nth-child(n + 4) {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	grid-auto-flow: column-reverse; /* Зміна напрямку для зеркального відображення */
}

.services {
	@include adaptiveValue('padding-top', 120, 80);
	@include adaptiveValue('padding-bottom', 120, 80);
	&__container {
		display: flex;
		flex-direction: column;
		@media (min-width: $mobileSmall) {
			align-items: center;
		}
		@include adaptiveValue('row-gap', 56, 30);
	}

	&__title {
		text-align: center;
	}

	&__cards {
		// display: flex;
		// flex-direction: column;
		// row-gap: toRem(30);
		display: grid;
		// !
		// !
		@media (max-width: em(600)) {
			grid-template-columns: 1fr;
			justify-items: center;
		}
		@media (min-width: em(600)) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $tablet) {
			grid-template-columns: repeat(3, 1fr);
		}
		column-gap: toRem(30);
		@include adaptiveValue('row-gap', 56, 30, 0, 1440, 768);

		// &:nth-child(3n + 1) {
		// 	grid-auto-flow: column-reverse;
		// }
	}
	&__button {
		@media (min-width: $mobileSmall) {
			min-width: toRem(362);
		}
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
}
.cards-services {
	&__image {
		overflow: hidden;

		@media (max-width: em(600)) {
			&:nth-child(4n) {
				order: 2;
			}
			&:nth-child(5n) {
				order: 1;
			}
		}
	}
	&__wrapper {
		max-width: toRem(450);
		max-height: toRem(618);

		position: relative;
		transition: all 1s;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.2);
			}
		}

		&::before {
			content: '';
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
		&--bg-20 {
			&::before {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
			}
		}
		&--bg-40 {
			&::before {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
			}
		}
	}

	&__cards-services__ibg {
	}
}

.card-service {
	flex-grow: 1;
	border: toRem(1) solid #eaedef;
	position: relative;

	@include adaptiveValue('padding-top', 41, 20, 0, 1440, 768);
	@include adaptiveValue('padding-bottom', 41, 20, 0, 1440, 768);
	@include adaptiveValue('padding-right', 24, 14, 0, 1440, 991);
	@include adaptiveValue('padding-left', 24, 14, 0, 1440, 991);

	&::before {
		content: '';
		position: absolute;
		top: toRem(126);
		@media (max-width: em(1100)) {
			top: toRem(100);
		}
		@media (max-width: $tablet) {
			top: toRem(80);
		}
		@media (max-width: $mobile) {
			top: toRem(80);
		}
		left: 0;
		width: 100%;
		height: toRem(1);
		background: #eaedef;
	}

	&__title {
		@include adaptiveValue('font-size', 18, 16, 0, 1440, 991);
		font-weight: 700;
		line-height: 1.5;
		text-transform: uppercase;
		max-width: toRem(292);
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 95, 30, 0, 1400, 768);
		}
	}

	&__description {
		@include adaptiveValue('font-size', 18, 14, 0, 1440, 768);
		font-weight: 400;
		line-height: 1.6;
		&:not(:last-child) {
			margin-bottom: toRem(24);
		}
	}

	&__button {
	}
}
//
//====================================================================================================
// ! SERVICES

.project {
	@include adaptiveValue('padding-top', 120, 40);
	@include adaptiveValue('padding-bottom', 120, 40);
	&__container {
		position: relative;
	}

	&__title {
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 56, 30);
		}
	}
	&__slider {
	}
	&__wrapper {
		position: relative;
		transition: transform 0.5s ease;
	}

	&__slide {
		position: relative;
	}

	&__buttons {
		@media (max-width: $mobile) {
			// position: absolute;
			// top: 50%;
			// display: block;
			button {
				transform: translateY(50%);
				&:nth-child(1) {
					padding-left: toRem(10);
				}
				&:nth-child(2) {
					padding-right: toRem(10);
				}
			}
			& > ::after {
				position: absolute;
				top: 0%;
				display: flex;
				align-items: center;
				justify-content: center;
				flex: 0 0 toRem(48);
				color: #eaedef;
				font-size: toRem(24) !important;
				width: toRem(48);
				background-color: #de5e2c;
				height: toRem(48);
				border-radius: 50%;

				@media (any-hover: hover) {
					&:hover {
						background-color: #ff4800;
					}
				}
				&:active {
					background-color: #ff4800;
				}
			}
		}
		@media (min-width: $mobile) {
			display: flex;
			position: absolute;
			width: toRem(80);
			gap: toRem(16);
			top: toRem(24);
			height: toRem(32);
			right: percent(84, $maxWidthContainer);
			& > ::after {
				color: #eaedef;
				font-size: toRem(26) !important;
				width: toRem(32);
			}
		}
	}
	&__swiper-button-prev {
	}

	&__swiper-button-next {
	}
}

.swiper-slide-project {
	&__image {
		@media (any-hover: hover) {
			&:hover {
				.swiper-slide-project__block-hover {
					transition: all 0.3s;
					transform: translateY(0);
				}
				.swiper-slide-project__image-wrapper {
					&::before {
						background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100%);
					}
				}
				.swiper-slide-project__icon {
					display: none;
				}
			}
		}
	}
	&__link {
		display: block;
	}
	&__image-wrapper {
		position: relative;
		// &::after {
		// 	position: absolute;
		// 	content: '';
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background:
		// 		linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
		// 		url('@img/projects/icons/icon-01.svg') 50% /150px 150px no-repeat;
		// 	z-index: 6;
		// }
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
		&--bg-50 {
			&::before {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
				@media (hover: none) {
					background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
				}
			}
			@media (any-hover: hover) {
				&:hover {
					&::before {
						background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
					}
				}
			}
		}
		&--bg-60 {
			&::before {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
				@media (hover: none) {
					background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
				}
			}

			@media (any-hover: hover) {
				&:hover {
					// img {
					// 	transform: scale(1.2);
					// }
					&::before {
						background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
					}
					.swiper-slide-project__icon {
						display: none;
					}
				}
			}
		}
	}
	&__icon {
		display: flex;
		position: absolute;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 3;
		@media (hover: none) {
			display: none;
		}
	}

	&__block-hover {
		// display: none;
		background: rgba(24, 22, 22, 0.7);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		transform: translateY(100%);
		row-gap: toRem(8);
		z-index: 4;
		transition: all 0.3s;
		@include adaptiveValue('padding-top', 34, 10, 0, 1440, 768);
		@include adaptiveValue('padding-bottom', 35, 10, 0, 1440, 768);
		@include adaptiveValue('padding-left', 49, 15, 0, 1440, 768);
		@include adaptiveValue('padding-right', 48, 15, 0, 1440, 768);
		@media (hover: none) {
			transform: translateY(0);
		}
	}

	&__text {
		color: #eaedef;
		font-size: toRem(18);
		font-weight: 400;
		line-height: 1.6; /* 28.8px */
		span {
			font-size: toRem(18);
			font-style: normal;
			font-weight: 300;
			line-height: 1.5;
		}
	}

	&__value {
		font-size: toRem(18);
		font-weight: 400;
		line-height: 1.6; /* 28.8px */
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}
	}

	&__button {
		@media (max-width: $mobile) {
			width: toRem(44);
			height: toRem(44);
		}
	}
}

.button-circle {
}
.title {
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-slide-project {
}
.ibg {
}
.swiper-button-prev {
}
.swiper-button-next {
}

//====================================================================================================
//====================================================================================================
// ! PARTNERS
.partners {
	background: #181616;
	@include adaptiveValue('padding-top', 120, 80);
	@include adaptiveValue('padding-bottom', 120, 80);
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		@include adaptiveValue('row-gap', 56, 30);
	}

	&__title {
	}

	&__items {
		display: grid;
		@media (min-width: $mobile) {
			grid-template-columns: repeat(2, minmax(toRem(280), toRem(338)));
		}
		@media (max-width: $mobile) {
			@include adaptiveValue('row-gap', 70, 50, 0, 767, 479);
		}
		grid-template-columns: minmax(toRem(280), toRem(388));
		@include adaptiveValue('column-gap', 215, 60, 0, 1440, 768);
	}

	&__item {
		// flex: 0 1 percent(338, $maxWidthContainer);
	}
}
.partner {
	display: flex;
	flex-direction: column;
	// align-items: center;
	row-gap: toRem(16);
	&__image {
		text-align: center;
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}
		img {
			border-radius: 50%;
			max-width: toRem(279);
			min-height: toRem(276);
		}
	}

	&__name {
		font-size: toRem(24);

		font-weight: 700;
	}

	&__description {
		position: relative;
		color: #eaedef;
		font-size: toRem(18);
		font-weight: 300;
		line-height: 1.5; /* 27px */
		text-transform: uppercase;
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}
		&::before {
			content: '';
			position: absolute;
			bottom: toRem(-8);
			left: 0;
			width: 100%;
			height: toRem(0.5);
			background: #eaedef;
		}
	}

	&__text {
		@include adaptiveValue('font-size', 18, 16);
		line-height: 1.6;
	}
}

// ====================================================================================================
// ! MAPS
.map__body {
	display: none;
}
.map {
	&__container {
		@include adaptiveValue('padding-top', 120, 50);
		padding-bottom: toRem(32);
		display: flex;
		justify-content: end;
	}
	&__body {
	}
	&__wrapper-maps {
		max-width: toRem(1920);
		margin: 0 auto;
	}
}
.body-map {
	&__image {
		&--form-1 {
			position: relative;
		}
		&--form-2 {
		}
		&--form-3 {
		}
	}

	&__image--wrapper {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background:
				linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
				-399.919px 0px / 156.526% 100% no-repeat;
		}
		img {
			@media (max-width: $mobile) {
				width: 130%;
			}
			max-height: toRem(829);
		}
	}

	&__ibg {
	}
}
.body-map {
	&__tooltips {
	}
}
.tooltip {
	&--first {
	}
	&--second {
	}
}

//====================================================================================================
// ! Це тултіп
.tooltip-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.tooltip-container {
	position: relative;
	display: inline-block;
	&:nth-child(1) {
		position: absolute;
		left: 22%;
		top: 36%;
	}
	&:nth-child(2) {
		position: absolute;
		left: 63.5%;
		top: 58%;
	}
}

.tooltip {
	display: none;
	position: absolute;
	bottom: 120%;
	left: 0;
	// transform: translateX(-50%);
	padding: toRem(32) toRem(28);
	@media (max-width: $tablet) {
		padding: toRem(8) toRem(7);
		font-size: toRem(14);
	}
	background-color: #1c1c1c;
	color: #eaedef;
	border-radius: 8px;
	// white-space: nowrap;
	font-size: toRem(18);
	line-height: 1.6;
	&:nth-child(1) {
		@media (max-width: $tablet) {
			// bottom: -80%;
		}
	}
	&:nth-child(2) {
		@media (max-width: $tablet) {
			left: -100%;
			bottom: 100%;
		}
	}
	&::before {
		position: absolute;
		content: '';
		width: 100%;
		height: toRem(25);
		bottom: -15px;
		right: 0;
	}
	&__body {
		display: flex;
		align-items: center;
		gap: toRem(20);
	}

	&__text {
		display: flex;
		flex-direction: column;
		row-gap: toRem(4);
		@media (min-width: $mobile) {
			width: toRem(212);
		}
	}

	&__link {
		width: 32px;
		height: 32px;
	}
}

.tooltip.active {
	display: inline-block;
}

//====================================================================================================
// ! CONTACTS
.contact {
	background: #17302f;
	@include adaptiveValue('padding-top', 120, 50);
	@include adaptiveValue('padding-bottom', 120, 50);
	&__container {
	}

	&__headline {
		align-items: center;
		display: flex;
		flex-direction: column;
		row-gap: toRem(16);
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 64, 40);
		}
	}

	&__title {
		text-align: center;
		// @include adaptiveValue('font-size', 36, 32);
	}

	&__sub-title {
		text-align: center;
		// @include adaptiveValue('font-size', 18, 16);
		line-height: 1.6; /* 28.8px */
	}

	&__items {
		display: grid;
		@media (min-width: $tablet) {
			justify-content: center;
		}
		@include adaptiveValue('column-gap', 90, 30, 0, 1440, 991);
		@media (min-width: $mobile) {
			grid-template-columns: minmax(toRem(200), toRem(268)) minmax(toRem(508), toRem(811));
		}
		// @media (max-width: em(600)) {
		// 	grid-template-columns: repeat(2, 1fr);
		// }
		row-gap: toRem(50);
		// @media (max-width: $mobile) {
		// 	grid-template-columns: 1fr;
		// }
	}
}

.contact-item {
	// ? Помінять містами КОНТАКТИ і форму
	@media (max-width: $mobile) {
		& > :nth-child(1) {
			order: 1;
		}
	}
	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		row-gap: toRem(24);
		font-size: toRem(18);
	}
	&__form {
	}

	&__title {
		@include adaptiveValue('font-size', 32, 24);
		font-weight: 700;
	}
	&__phone {
		@include adaptiveValue('font-size', 18, 16, 1, 1440, 768);
		line-height: 1.6;
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: #ff4800;
			}
		}
	}
	&__location {
		line-height: 1.6;
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: #ff4800;
			}
		}
		@include adaptiveValue('font-size', 18, 16, 1, 1440, 768);
	}
	&__social-media {
		display: flex;
		column-gap: toRem(16);
	}
}
.form {
	display: grid;
	@media (min-width: $mobile) {
		grid-template-columns: minmax(toRem(228), toRem(330)) minmax(toRem(250), toRem(450));
	}
	// @media (max-width: em(767)) {
	// 	grid-template-columns: 2fr;
	// }
	@media (max-width: $mobile) {
		grid-template-columns: 2fr;
	}
	column-gap: toRem(30);
	row-gap: toRem(32);
	&__column {
	}

	&__row {
		display: flex;
		flex-direction: column;
		row-gap: toRem(8);
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}

	&__label {
		font-size: toRem(18);
		line-height: 1.6; /* 28.8px */
	}

	&__input {
	}

	&__textarea {
		min-height: toRem(256);
		line-height: 1.6;
		@media (max-width: em(600)) {
			min-height: toRem(200);
		}
	}
	&__button {
		font-size: toRem(18);

		font-weight: 400;
		@media (min-width: em(768)) {
			grid-column: 2;
			justify-self: end; /* Прижимається до правого краю */
			width: toRem(210); /* Задає ширину кнопки */
		}
	}
}

//====================================================================================================

//====================================================================================================
//====================================================================================================

//====================================================================================================
